<!DOCTYPE html>
<html>
    <head>
        <title>Build A Blog</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <div id="links">
        <h2 class="alignleft">
            <a href="/blog">Main Blog Page</a>
        </h2>
        <h2 class="alignright">
            <a href="/newpost">Add a Blog Entry</a>
        </h2>
        </div>
        <div style="clear: both;"></div>
        
        {% block content %}
        {% endblock %}

    </body>
</html>
